$black: #000;
$white: #fff;
$light_white: #fafafa;
$dark_text: #413c6d;
$light_text: rgba(20, 20, 20, 0.7);
$dark_header: #141414;
$dark_border: #0a0628;
$video_img_bg: rgba(251, 251, 251, 0.5);
$light_btn_bg: #605c84;
$input_text: #4b4b4b;
$dark_blue: #120b48;

/* MEDIA SCREEN

    @media screen and (max-width: 400px) {

    }
      @media screen and (min-width: 576px) {

    }
      @media screen and (min-width: 992px) {

    }
      @media screen and (min-width: 1200px) {

    }
*/
